fastapi
uvicorn
pydantic
pydantic-settings
sqlalchemy
alembic
python-multipart
python-jose[cryptography]
passlib[bcrypt]
google-generativeai
chromadb
pinecone
cohere
pinecone-text
python-docx
PyPDF2
nomic
pandas
